# Compiled Java classes
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse material
target/
.settings/
.project
.classpath
.springBeans

# Backups
*.bak

# Javadocs
# *.html
# docs/

# File locali
TODO
TODOS
TODOs
todo
todos
