<!-- permette di impostare un periodo di auto-aggiornamento delle proprietà -->
<configuration scan="true">

	<appender name="TEST_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [TEST] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="test.info.logger" level="info">
		<appender-ref ref="TEST_STDOUT" />
	</logger>
	<logger name="test.debug.logger" level="debug">
		<appender-ref ref="TEST_STDOUT" />
	</logger>
	<logger name="test.trace.logger" level="trace">
		<appender-ref ref="TEST_STDOUT" />
	</logger>

	<root level="debug">
		<appender-ref ref="TEST_STDOUT" />
	</root>
</configuration>